run = "npm start"
entrypoint = "backend/src/index.js"
modules = ["nodejs-18", "web", "nix"]

[env]
NODE_ENV = "production"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
